.syntax .hll { background-color: #ffffcc }
.syntax  { background: #ffffff; }
.syntax .c { color: #008800; font-style: italic } /* Comment */
.syntax .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.syntax .k { color: #000080; font-weight: bold } /* Keyword */
.syntax .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.syntax .cp { color: #008080 } /* Comment.Preproc */
.syntax .c1 { color: #008800; font-style: italic } /* Comment.Single */
.syntax .cs { color: #008800; font-weight: bold } /* Comment.Special */
.syntax .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.syntax .ge { font-style: italic } /* Generic.Emph */
.syntax .gr { color: #aa0000 } /* Generic.Error */
.syntax .gh { color: #999999 } /* Generic.Heading */
.syntax .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.syntax .go { color: #888888 } /* Generic.Output */
.syntax .gp { color: #555555 } /* Generic.Prompt */
.syntax .gs { font-weight: bold } /* Generic.Strong */
.syntax .gu { color: #aaaaaa } /* Generic.Subheading */
.syntax .gt { color: #aa0000 } /* Generic.Traceback */
.syntax .kc { color: #000080; font-weight: bold } /* Keyword.Constant */
.syntax .kd { color: #000080; font-weight: bold } /* Keyword.Declaration */
.syntax .kn { color: #000080; font-weight: bold } /* Keyword.Namespace */
.syntax .kp { color: #000080; font-weight: bold } /* Keyword.Pseudo */
.syntax .kr { color: #000080; font-weight: bold } /* Keyword.Reserved */
.syntax .kt { color: #000080; font-weight: bold } /* Keyword.Type */
.syntax .m { color: #0000FF } /* Literal.Number */
.syntax .s { color: #0000FF } /* Literal.String */
.syntax .na { color: #FF0000 } /* Name.Attribute */
.syntax .nt { color: #000080; font-weight: bold } /* Name.Tag */
.syntax .ow { font-weight: bold } /* Operator.Word */
.syntax .w { color: #bbbbbb } /* Text.Whitespace */
.syntax .mf { color: #0000FF } /* Literal.Number.Float */
.syntax .mh { color: #0000FF } /* Literal.Number.Hex */
.syntax .mi { color: #0000FF } /* Literal.Number.Integer */
.syntax .mo { color: #0000FF } /* Literal.Number.Oct */
.syntax .sb { color: #0000FF } /* Literal.String.Backtick */
.syntax .sc { color: #800080 } /* Literal.String.Char */
.syntax .sd { color: #0000FF } /* Literal.String.Doc */
.syntax .s2 { color: #0000FF } /* Literal.String.Double */
.syntax .se { color: #0000FF } /* Literal.String.Escape */
.syntax .sh { color: #0000FF } /* Literal.String.Heredoc */
.syntax .si { color: #0000FF } /* Literal.String.Interpol */
.syntax .sx { color: #0000FF } /* Literal.String.Other */
.syntax .sr { color: #0000FF } /* Literal.String.Regex */
.syntax .s1 { color: #0000FF } /* Literal.String.Single */
.syntax .ss { color: #0000FF } /* Literal.String.Symbol */
.syntax .il { color: #0000FF } /* Literal.Number.Integer.Long */