chap*/*.markdown
/out.*
/*.pdf
/latex/main.aux
/latex/main.log
/latex/main.out
/latex/main.pdf
/latex/main.tex
/latex/main.toc
/html/chap*.html
/html/rss.xml
/html/index.html
/.snap-dep
/script/out.png
/script/screen.jpg
