
<link rel="stylesheet" href="css/chap.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="css/code.css" type="text/css" media="screen, projection" />

<div id="container">
  <header>

  </header>
  
  <div id="main" role="main">
    <article class="post">
      <header>
        <h2><span class="hint">Chap #<%= chap %></span><%= date %></h2>
        <h1>Do what you have to do</h1>
      </header>
      
      <%= html %>
      
    </article>
  </div>
  
  <footer>

  </footer>
</div>
